*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #f0f2f5;
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.container{
    height: 100vh;
    padding: 1rem;
}

.logo img{
    display: block;
    width: 300px;
    margin: auto;
}

.message{
    font-size: 28px;
    text-align: center;
    line-height: 28px;
}

/*  ALL elements in form  */
form *{ display: block; }

form{
    max-width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"]{
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: solid thin #dddfe2;
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
    outline-color: #1877f2;
}

form input::placeholder{  color: #a6a8a8;  }

form input[type="submit"]{
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
    margin-top: 16px;
    padding: 0 16px;
    cursor: pointer;
}

form .f-password{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
form .f-password a{ color: #1877f2; }
form .f-password a:hover{   text-decoration: underline;  }


.border-line{
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #dadde1;
}

form button{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    margin: auto;
    padding: 0 16px;
    margin-block-end: 10px;
}
form button a{
    font-weight: bold;
    color: #fff;
}

.create-page{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    color: #1c1e21;
}
.create-page a{ font-weight: bold; color: #1c1e21; }

/*  Media Queries  */
@media screen and(min-width: 450px){

    .logo img{  width: 300px;  }
    .message{   font-size: 1.2rem;   }

    form input::placeholder{  font-size: 1rem;  }

    form input[type="submit"]{  font-size: 1.2rem;  }
}

@media screen and (min-width: 900px){
    .container{
        max-width: 1400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container-profile{
        width: 40%;
        margin-left: 120px;
        transform: translateY(-50px);
    }

    .logo img{
        display: inline-block;
        margin: 0;
    }

    .message{
        text-align: left;
        margin-left: 30px;
        font-size: 27px;
    }

    .container-form{  width: 50%;  }
}